.login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../../assets/background.png);
    background-size: 100% 100%; /* largura altura */
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.blur{
    backdrop-filter: blur(8px);
    
    position: fixed;
    height: 150px;
    width: 22rem;
    left: 8rem;
    top: 0;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.514);
    
}

.login-form{
    
    height: 17rem;
    width: 19rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: end;
    justify-content: center;
    margin-right: 10rem;
    backdrop-filter: blur(22px);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.692);
    border-radius: 20px;
    animation: mover 2.4s infinite alternate;
  
}

.login-form h2{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    margin-bottom: 2rem;
}

.form{
    display: flex;
    flex-direction: column;
}

.form input{
    height: 2rem;
    width: 15rem;
    border-radius: 10px;
    border: none;
    margin-bottom: 1rem;
    background-color: #d4d4d4;
    padding-left: 0.5rem;
}

.form button{
    height: 2.5rem;
    width: 15rem;
    border-radius: 10px;
    border: none;
    background: linear-gradient(90deg, #530061 0%, #141044 100%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.493);
    color: white;
    font-weight: 700;
    cursor: pointer;
    margin-bottom: 10px;
}   

@keyframes mover {
  0% {
    transform: translatey(0);
  }

  100% {
    transform: translatey(10px);
  }
}

